# Postgres database address for cocoindex
COCOINDEX_DATABASE_URL=postgresql://cocoindex:cocoindex@localhost:5432/cocoindex

# Fallback to CPU for operations not supported by MPS on Mac.
# It's no-op for other platforms.
PYTORCH_ENABLE_MPS_FALLBACK=1
COCOINDEX_DB=postgresql://cocoindex:cocoindex@localhost:5432/cocoindex
